<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/boostrap")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">ProScrum</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Actualización de Proyectos", "Index", "Proyecto")</li>
                    <li>@Html.ActionLink("Configuración de Proyectos", "Configure", "Proyecto")</li>
                    <li>@Html.ActionLink("Panel de Tareas", "Index", "TaskBoard")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a>Bienvenido</a>
                    </li>
                    <li>
                         <a href="#">@User.Identity.Name</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    @RenderSection("featured", required: false)
    <div class="container">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/boostrap")
    @RenderSection("css", required: false)
    @RenderSection("scripts", required: false)
</body>
</html>
