@model RedCell.ProScrum.WebUI.ViewModels.Proyecto.ConfigurarProyectoViewModel

@{
    ViewBag.Title = "Configure";
}

<div class="page-header">
    <h2>Configurar Proyecto</h2>
</div>

@Html.HiddenFor(x => x.ProyectoId, new { id = "hd_ProyectoId" })

<div class="row">
    <div class="col-md-4 text-center" data-bind="css: { 'selected-block': EsConfiguracion() }">Configuración de Sprint</div>
    <div class="col-md-4 text-center" data-bind="css: { 'selected-block': EsDefinicion() }">Definición del Product Backlog</div>
    <div class="col-md-4 text-center" data-bind="css: { 'selected-block': EsResumen() }">Resumen de Configuración</div>
</div>

<hr>

<div data-bind='if: EsConfiguracion()'>

    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="cb-duracion" class="col-xs-4">
                Seleccione la duración en semanas
            </label>
            <div class="col-xs-2">
                <div data-bind="slider: SemanasEstimadas, sliderOptions: { min: 2, max: 8 }"></div>
            </div>
            <div class="col-xs-1">
                <input id="txt-semanasEstimadas" class="form-control input-sm" type="text" data-bind="value: SemanasEstimadas" onkeypress="return isNumber(event)" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-5">
                <input id="chb-usarSecuencial" type="checkbox" data-bind="checked: UsarSecuencial" />
                &nbsp; Usar Secuencial de Script como nombre de Sprint
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-1">
                &nbsp;
            </div>
            <div class="col-xs-3">
                Ingrese Nombre del Sprint Inicial
            </div>
            <div class="col-xs-2">
                <input type="text" class="form-control input-sm" id="txt-nombreSprintInicial" data-bind="value: NombreSprintInicial, disable: UsarSecuencial" />
            </div>
        </div>

        <div class="form-group">
            <label for="cb-duracion" class="col-xs-4">
                Ingrese la fecha de inicio del Sprint Inicial
            </label>
            <div class="col-xs-2">
                <input id="dtp-inicio" class="form-control input-sm" type="text" data-bind="datepicker: FechaInicioSprintInicial, datepickerOptions: { minDate: new Date() }" />
            </div>
        </div>

        <div class="form-group">
            <label for="cb-duracion" class="col-xs-4">
                Ingrese el objetivo del Sprint
            </label>
            <div class="col-xs-8">
                <textarea id="txt-objetivoSprint" class="form-control input-sm" rows="2" cols="70" data-bind="value: ObjetivoSprint"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="text-center col-xs-4">
            </div>
            <div class="text-center col-xs-4">
                <button class="btn btn-default" data-bind="click: toDefinition">Siguiente</button>
            </div>
            <div class="text-center col-xs-4">
            </div>
        </div>
    </form>



</div>


<div data-bind='if: EsDefinicion()'>

    <div class="row">
        <div class="col-xs-6 text-center">
            <a href="#" data-bind='click: showInitialSprintUserStories'>
                <!--ko text: SprintUserStories().length-->
                <!--/ko-->
                User Stories en el Sprint Inicial</a>
        </div>
        <div class="col-xs-6 text-center">
            <a href="#" data-bind='click: showBacklogUserStories'>
                <!--ko text: BacklogUserStories().length-->
                <!--/ko-->
                User Stories en el Product Backlog</a>
        </div>
    </div>

    </br>

    <form class="form-horizontal" role="form">
        <fieldset>
            <legend>User Story</legend>

            <div class="form-group">
                <label for="cb-empresa" class="col-xs-3">
                    Descripción
                </label>
                <div class="col-xs-4">
                    <textarea class="form-control input-sm" rows="2" cols="70" id="txt-descripcionUserStory" data-bind="value: DescripcionUserStory"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="cb-empresa" class="col-xs-3">
                    Horas Estimadas
                </label>
                <div class="col-xs-1">
                    <input id="txt-horasEstimadas" class="form-control input-sm" data-bind="value: HorasEstimadas" onkeypress="return isNumber(event)" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-3">
                    <input type="checkbox" data-bind="checked: PerteneceSprintInicial" />
                    &nbsp; Pertenece al Sprint Inicial
                </div>
                <div class="col-xs-3">
                    <button class="btn btn-default" data-bind="click: showAddActivity">Actividades</button>
                    &nbsp;
                    <button class="btn btn-default" data-bind="click: addUserStory">User Story</button>
                </div>
            </div>

            </br>

            <div class="form-group">
                <div class="col-xs-4">
                    &nbsp;
                </div>
                <div class="col-xs-2 text-right">
                    <button class="btn btn-default" data-bind="click: backToConfiguration">Anterior</button>
                </div>
                <div class="col-xs-2 text-left">
                    <button class="btn btn-default" data-bind="click: toResume">Siguiente</button>
                </div>
                <div class="col-xs-4">
                    &nbsp;
                </div>
            </div>

        </fieldset>
    </form>

</div>

<div data-bind='if: EsResumen()'>

    <form class="form-horizontal" role="form">
        <fieldset>
            <legend>Detalle de la configuración</legend>

            <div class="form-group">
                <label class="col-xs-4">
                    User Story Creados en Backlog
                </label>
                <div>
                    <!--ko text: BacklogUserStories().length-->
                    <!--/ko-->
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-4">
                    User Story asignados al Sprint Inicial
                </label>
                <div>
                    <!--ko text: SprintUserStories().length-->
                    <!--/ko-->
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-4">
                    Fecha de Inicio de Sprint Inicial
                </label>
                <div>
                    <!--ko text: showInitialSprintStart()-->
                    <!--/ko-->
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-4">
                    Fecha de Fin de Sprint Inicial
                </label>
                <div>
                    <!--ko text: showInitialSprintEnd()-->
                    <!--/ko-->
                </div>
            </div>

            </br>

            <div class="form-group">
                <div class="col-xs-4">
                    &nbsp;
                </div>
                <div class="col-xs-2 text-right">
                    <button class="btn btn-default" data-bind="click: backToDefinition">Anterior</button>
                </div>
                <div class="col-xs-2 text-left">
                    <button class="btn btn-default" data-bind="click: finalizeConfiguration">Finalizar</button>
                </div>
                <div class="col-xs-4">
                    &nbsp;
                </div>
            </div>

        </fieldset>
    </form>
</div>


<div id="dialog-modal" title="Registro de Actividades">

    <div class="form-group">
        <label for="cb-duracion" class="col-xs-4">
            Ingrese Actividad
        </label>
        <div class="col-xs-8">
            <input id="txt-descripcionActividad" class="form-control input-sm" data-bind="value: DescripcionActividad, event: { keyup: addActivity }" />
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-xs-3">
            &nbsp;
        </div>
        <div class="col-xs-5" data-bind='if: ActividadesUserStory().length > 0'>
            <div data-bind='simpleGrid: ActivityViewModel'>
            </div>
        </div>
        <div class="col-xs-3">
            &nbsp;
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-xs-5">
            &nbsp;
        </div>
        <div class="col-xs-2" >
            <button class="btn btn-default" data-bind="click: closeActivityWindow">Cerrar</button>
        </div>
        <div class="col-xs-5">
            &nbsp;
        </div>
    </div>
</div>

@section css
{
    @Styles.Render("~/Content/themes/base/css")
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/knockout-simpleGrid")
    <script type="text/javascript" src="@Url.Content("~/Scripts/Views/Proyecto/Configure/loader.js")"></script>
}