@model RedCell.ProScrum.WebUI.Models.Proyecto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Proyecto</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Usuario.Codigo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Usuario.Codigo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contacto.Nombres)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contacto.Nombres)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mnemonico)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mnemonico)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InicioEstimado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InicioEstimado)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FinEstimado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FinEstimado)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HorasEstimadas)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HorasEstimadas)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EstadoId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EstadoId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EsEliminado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EsEliminado)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ProyectoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
