@model RedCell.ProScrum.WebUI.ViewModels.Proyecto.EdicionProyectoViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Editar Proyecto</h2>

<fieldset>
    <legend>Datos de Proyecto</legend>

    @Html.HiddenFor(x => x.ProyectoId, new { id = "hd_ProyectoId" })
    @Html.HiddenFor(x => x.EsTotalmenteEditable, new { id = "hd_EsTotalmenteEditable" })

    <div class="editor-label">
        Empresa
    </div>
    <div class="editor-field">
        <select id="cb-empresa" data-bind="options: empresas, optionsText: 'Nombre', optionsValue: 'EmpresaId', value: empresaSeleccionada, optionsCaption: 'Seleccione', event: { change: empresaChange }"></select>
    </div>

    <div class="editor-label">
        Contacto
    </div>
    <div class="editor-field">
        <select id="cb-contacto" data-bind="options: contactos, optionsText: 'Nombre', optionsValue: 'ContactoId', value: contactoSeleccionado, optionsCaption: 'Seleccione'"></select>
    </div>

    <div class="editor-label">
        Mnemonico
    </div>
    <div class="editor-field">
        <input id="txt-mnemonico" data-bind="value: mnemonico, enable: esTotalmenteEditable" />
    </div>

    <div class="editor-label">
        Nombre
    </div>
    <div class="editor-field">
        <input id="txt-nombre" data-bind="value: nombre" />
    </div>
</fieldset>

<fieldset>
    <legend>Equipo de Proyecto</legend>

    <div class="editor-label">
        Nombre del Integrante
    </div>
    <div class="editor-field">
        <input type="text" id="memo" data-bind="autoComplete: integrantesProyecto, source: '/Proyecto/ListarIntegrante'" />
    </div>

    <div>
        <table data-bind="visible: integrantesProyecto().length > 0">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>¿Es Encargado?</th>
                    <th />
                </tr>
            </thead>
            <tbody data-bind='foreach: integrantesProyecto'>
                <tr>
                    <td data-bind='text: Nombre'></td>
                    <td>
                        <input type="checkbox" data-bind="checked: EsEncargado, disable: true" /></td>
                    <td>
                        <a href="#" data-bind='if: EsNuevo(), click: $root.removeIntegrante'>Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</fieldset>

<fieldset>
    <legend>Datos adicionales</legend>

    <div class="editor-label">
        Inicio Estimado
    </div>
    <div class="editor-field">
        <input id="dtp-desde" data-bind="datepicker: inicioEstimado, enable: esTotalmenteEditable, datepickerOptions: {
    minDate: new Date(),
    onClose: function (fechaSeleccionada) {
        $('#dtp-hasta').datepicker('option', 'minDate', fechaSeleccionada);
            }
        }" />
    </div>

    <div class="editor-label">
        Fin Estimado
    </div>
    <div class="editor-field">
        <input id="dtp-hasta" data-bind="datepicker: finEstimado, enable: esTotalmenteEditable, datepickerOptions: {
    minDate: new Date(),
    onClose: function (fechaSeleccionada) {
        $('#dtp-desde').datepicker('option', 'maxDate', fechaSeleccionada);
            }
        }" />
    </div>

    <div class="editor-label">
        Horas Asignadas
    </div>
    <div class="editor-field">
        <input id="txt-horasAsignadas" type="text" data-bind="value: horasEstimadas, enable: esTotalmenteEditable" />
    </div>

</fieldset>

<p>
    <button data-bind='click: save'>Actualizar</button>
</p>

<div>
    @Html.ActionLink("Volver", "Index")
</div>

@section css {
    @Styles.Render("~/Content/themes/base/css")
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript" src="@Url.Content("~/Scripts/Views/Proyecto/Edit/loader.js")"></script>
}