@model RedCell.ProScrum.WebUI.ViewModels.Proyecto.EdicionProyectoViewModel

@{
    ViewBag.Title = "Edit";
}

<form class="form-horizontal" role="form">

<h2>Editar Proyecto</h2>

<fieldset>
    <legend>Datos de Proyecto</legend>

    @Html.HiddenFor(x => x.ProyectoId, new { id = "hd_ProyectoId" })
    @Html.HiddenFor(x => x.EsTotalmenteEditable, new { id = "hd_EsTotalmenteEditable" })

    <div class="form-group">
    <label for="cb-empresa" class="col-xs-2">
        Empresa
    </label>
    <div class="col-xs-4">
        <select id="cb-empresa" class="form-control input-sm" data-bind="options: empresas, optionsText: 'Nombre', optionsValue: 'EmpresaId', value: empresaSeleccionada, optionsCaption: 'Seleccione', event: { change: empresaChange }"></select>
    </div>
    </div>

    <div class="form-group">
    <label for="cb-contacto" class="col-xs-2">
        Contacto
    </label>
    <div class="col-xs-4">
        <select id="cb-contacto" class="form-control input-sm" data-bind="options: contactos, optionsText: 'Nombre', optionsValue: 'ContactoId', value: contactoSeleccionado, optionsCaption: 'Seleccione'"></select>
    </div>
    </div>

    <div class="form-group">
    <label for="cb-contacto" class="col-xs-2">
        Mnemonico
    </label>
    <div class="col-xs-4">
        <input id="txt-mnemonico" class="form-control input-sm" data-bind="value: mnemonico, enable: esTotalmenteEditable" placeholder="Ingrese el mnemónico" />
    </div>
    </div>

    <div class="form-group">
    <label for="cb-contacto" class="col-xs-2">
        Nombre
    </label>
    <div class="col-xs-4">
        <input id="txt-nombre" class="form-control input-sm" data-bind="value: nombre" placeholder="Ingrese el nombre" />
    </div>
    </div>
</fieldset>

<fieldset>
    <legend>Equipo de Proyecto</legend>

    <div class="form-group">
    <label for="memo" class="col-xs-2">
        Nombre del Integrante
    </label>
    <div class="col-xs-4">
        <input type="text" id="memo" class="form-control input-sm" data-bind="autoComplete: integrantesProyecto, source: '/Proyecto/ListarIntegrante'" placeholder="Ingrese el nombre del integrante" />
    </div>
        </div>

    <div class="row">
        <table class="table table-hover" data-bind="visible: integrantesProyecto().length > 0">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>¿Es Encargado?</th>
                    <th />
                </tr>
            </thead>
            <tbody data-bind='foreach: integrantesProyecto'>
                <tr>
                    <td data-bind='text: Nombre'></td>
                    <td>
                        <input type="checkbox" data-bind="checked: EsEncargado, disable: true" /></td>
                    <td>
                        <!--ko if: EsNuevo-->
                        <a href="#" class="btn btn-default" data-bind='click: $root.removeIntegrante'>
                            <span class="glyphicon glyphicon-trash"></span> Eliminar
                        </a>
                        <!--/ko-->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</fieldset>

<fieldset>
    <legend>Datos adicionales</legend>

    <div class="form-group">
    <label for="dtp-desde" class="col-xs-2">
        Inicio Estimado
    </label>
    <div class="col-xs-2">
        <input id="dtp-desde" class="form-control input-sm" placeholder="Ingrese el Inicio Estimado" data-bind="datepicker: inicioEstimado, enable: esTotalmenteEditable, datepickerOptions: {
    minDate: new Date(),
    onClose: function (fechaSeleccionada) {
        $('#dtp-hasta').datepicker('option', 'minDate', fechaSeleccionada);
            }
        }" />
    </div>
    </div>

    <div class="form-group">
    <label for="dtp-hasta" class="col-xs-2">
        Fin Estimado
    </label>
    <div class="col-xs-2">
        <input id="dtp-hasta" class="form-control input-sm" placeholder="Ingrese el Fin Estimado" data-bind="datepicker: finEstimado, enable: esTotalmenteEditable, datepickerOptions: {
    minDate: new Date(),
    onClose: function (fechaSeleccionada) {
        $('#dtp-desde').datepicker('option', 'maxDate', fechaSeleccionada);
            }
        }" />
    </div>
    </div>

    <div class="form-group">
    <label for="txt-horasAsignadas" class="col-xs-2">
        Horas Asignadas
    </label>
    <div class="col-xs-2">
        <input id="txt-horasAsignadas" class="form-control input-sm" placeholder="Ingrese las horas" type="text" data-bind="value: horasEstimadas, enable: esTotalmenteEditable" />
    </div>
    </div>

</fieldset>

<p>
    <button data-bind='click: save' class="btn btn-default">
        <span class="glyphicon glyphicon-floppy-disk"></span> Actualizar
    </button>
</p>

</form>

@section css {
    @Styles.Render("~/Content/themes/base/css")
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript" src="@Url.Content("~/Scripts/Views/Proyecto/Edit/loader.js")"></script>
}