@model RedCell.ProScrum.WebUI.ViewModels.TaskBoard.BoardViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Board</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/TaskBoard.css")" />
</head>
<body class="body-board-background">
    <div id="surface" class="clearfix" style="height: initial;">
        <div id="header">
            <table>
                <tr>
                    <td class="boardHeader">&nbsp&nbsp&nbsp&nbsp&nbsp Proyecto: @Model.NombreProyecto</td>
                    <td class="boardHeader">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Estado del Proyecto: @Model.EstadoProyecto</td>
                    <td class="boardHeader">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Sprint: @Model.NombreSprint</td>
                    <td class="boardHeader">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Estado del Sprint: @Model.EstadoSprint</td>
                </tr>
            </table>
        </div>
        <div id="content" class="clearfix">
            <input type="hidden" id="hddProyectoId" value="@Model.ProyectoId" />
            <div class="board-wrapper">
                <div class="board-canvas" style="min-height: 800px;">
                    <div id="board" class="clearfix">
                        <div class="list-area-wrapper">
                            <div class="list-area js-userstory-list">
                                <!-- Zona de Listas de Objetos -->
                                <!-- Zona de Listas de Objetos -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="window-overlay-userstory">
        <div class="window" style="display: block; left: 424px; top: 50px;">
            <div class="window-wrapper clearfix" style="">
                <div class="dialog-close-button"><a title="Cerrar esta ventana." class="icon-lg icon-close dark-hover js-close-window"></a></div>
                <div class="clearfix editable js-dialog-container">
                </div>
            </div>
        </div>
    </div>
    <div class="window-overlay-validate">
        <div class="window" style="display: block; left: 424px; top: 50px;">
            <div class="window-wrapper clearfix" style="">
                <div class="dialog-close-button"><a title="Cerrar esta ventana." class="icon-lg icon-close dark-hover js-close-window"></a></div>
                <div class="clearfix editable js-dialog-container">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="window-overlay-block">
        <div class="window" style="display: block; left: 424px; top: 50px;">
            <div class="window-wrapper clearfix" style="">
                <div class="dialog-close-button"><a title="Cerrar esta ventana." class="icon-lg icon-close dark-hover js-close-window"></a></div>
                <div class="clearfix editable js-dialog-container">
                    Memo Memo Memo
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="@Url.Content("~/Scripts/BoardWindowManager.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Views/TaskBoard/Board/loader.js")"></script>
</body>
</html>
